#wc-shipping-sim {
    padding: 1.5em 0;
    border-top: 0.1em solid #e0e0e0;
}
#wc-shipping-sim-results table {
    margin: 0.5em 0;
    border-collapse: collapse;
}
#wc-shipping-sim-results tr {
    border: 0.1em solid #e0e0e0;
}
#wc-shipping-sim-results .col-label {
    text-align: left;
}
#wc-shipping-sim-results .col-cost {
    width: 30%;
    text-align: right;
}
#wc-shipping-sim-results .no-results {
    color: #c92a2a;
    background-color: #fff5f5;
    padding: 0.25em .5em;
}
