#wc-shipping-sim {
    padding: 1.5em 0;
    border-top: 0.1em solid #e0e0e0;
}
#wc-shipping-sim-form-fields {
    display: flex;
}
#wc-shipping-sim-form-fields .input-postcode {
    width: 100%;
    max-width: 200px;
    margin-right: 0.5rem;
    border-radius: 3px;
}
#wc-shipping-sim-form-fields .input-postcode:disabled {
    background-color: #dee2e6;
    cursor: not-allowed;
}
#wc-shipping-sim-results table {
    margin: 0.5em 0;
    border-collapse: collapse;
}
#wc-shipping-sim-results tr {
    border: 0.1em solid #e0e0e0;
}
#wc-shipping-sim-results .col-label {
    text-align: left;
}
#wc-shipping-sim-results .col-cost {
    width: 30%;
    text-align: right;
}
#wc-shipping-sim-results .no-results {
    margin: 0.5em 0;
    color: #c92a2a;
    background-color: #fff5f5;
    padding: 0.25em 0.5em;
}
