#wc-shipping-sim-results table {
    border-collapse: collapse;
}
#wc-shipping-sim-results tr {
    border: 1px solid #f0f0f0;
}
#wc-shipping-sim-results .col-cost {
    width: 30%;
    text-align: right;
}
